<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Iwoca\Iwocapay\Api\Request\CreateOrderPayloadInterface" type="Iwoca\Iwocapay\Model\Request\CreateOrderPayload" />
    <preference for="Iwoca\Iwocapay\Api\Response\CreateOrderInterface" type="Iwoca\Iwocapay\Model\Response\CreateOrder" />
    <preference for="Iwoca\Iwocapay\Api\Response\GetOrderInterface" type="Iwoca\Iwocapay\Model\Response\GetOrder" />
    <preference for="Iwoca\Iwocapay\Api\Response\PricingInterface" type="Iwoca\Iwocapay\Model\Response\Pricing" />

    <virtualType name="IwocapayPaylaterFacade" type="Magento\Payment\Model\Method\Adapter">
        <arguments>
            <argument name="code" xsi:type="const">Iwoca\Iwocapay\Model\Config\Checkout\ConfigProvider::CODE_PAYLATER</argument>
            <argument name="formBlockType" xsi:type="string">Magento\Payment\Block\Form</argument>
            <argument name="infoBlockType" xsi:type="string">Magento\Payment\Block\Info</argument>
            <argument name="valueHandlerPool" xsi:type="object">IwocapayPaylaterValueHandlerPool</argument>
            <argument name="validatorPool" xsi:type="object">IwocapayPaylaterValidatorPool</argument>
        </arguments>
    </virtualType>

    <virtualType name="IwocapayPaynowFacade" type="Magento\Payment\Model\Method\Adapter">
        <arguments>
            <argument name="code" xsi:type="const">Iwoca\Iwocapay\Model\Config\Checkout\ConfigProvider::CODE_PAYNOW</argument>
            <argument name="formBlockType" xsi:type="string">Magento\Payment\Block\Form</argument>
            <argument name="infoBlockType" xsi:type="string">Magento\Payment\Block\Info</argument>
            <argument name="valueHandlerPool" xsi:type="object">IwocapayPaynowValueHandlerPool</argument>
            <argument name="validatorPool" xsi:type="object">IwocapayPaynowValidatorPool</argument>
        </arguments>
    </virtualType>

    <virtualType name="IwocapayPaylaterValueHandlerPool" type="Magento\Payment\Gateway\Config\ValueHandlerPool">
        <arguments>
            <argument name="handlers" xsi:type="array">
                <item name="default" xsi:type="string">IwocapayPaylaterDefaultValueHandler</item>
            </argument>
        </arguments>
    </virtualType>

    <virtualType name="IwocapayPaynowValueHandlerPool" type="Magento\Payment\Gateway\Config\ValueHandlerPool">
        <arguments>
            <argument name="handlers" xsi:type="array">
                <item name="default" xsi:type="string">IwocapayPaynowDefaultValueHandler</item>
            </argument>
        </arguments>
    </virtualType>

    <virtualType name="IwocapayPaylaterDefaultValueHandler" type="Magento\Payment\Gateway\Config\ConfigValueHandler">
        <arguments>
            <argument name="configInterface" xsi:type="object">IwocapayPaylaterMethodConfig</argument>
        </arguments>
    </virtualType>

    <virtualType name="IwocapayPaynowDefaultValueHandler" type="Magento\Payment\Gateway\Config\ConfigValueHandler">
        <arguments>
            <argument name="configInterface" xsi:type="object">IwocapayPaynowMethodConfig</argument>
        </arguments>
    </virtualType>

    <virtualType name="IwocapayPaylaterMethodConfig" type="Magento\Payment\Gateway\Config\Config">
        <arguments>
            <argument name="methodCode" xsi:type="const">Iwoca\Iwocapay\Model\Config\Checkout\ConfigProvider::CODE_PAYLATER</argument>
        </arguments>
    </virtualType>

    <virtualType name="IwocapayPaynowMethodConfig" type="Magento\Payment\Gateway\Config\Config">
        <arguments>
            <argument name="methodCode" xsi:type="const">Iwoca\Iwocapay\Model\Config\Checkout\ConfigProvider::CODE_PAYNOW</argument>
        </arguments>
    </virtualType>

    <virtualType name="IwocapayCountryValidator" type="Magento\Payment\Gateway\Validator\CountryValidator">
        <arguments>
            <argument name="config" xsi:type="object">IwocapayMethodConfig</argument>
        </arguments>
    </virtualType>
    <virtualType name="IwocapayValidatorPool" type="Magento\Payment\Gateway\Validator\ValidatorPool">
        <arguments>
            <argument name="validators" xsi:type="array">
                <item name="country" xsi:type="string">IwocapayCountryValidator</item>
            </argument>
        </arguments>
    </virtualType>

    <virtualType name="IwocapayLoggerHandler" type="Magento\Framework\Logger\Handler\Base">
        <arguments>
            <argument name="filesystem" xsi:type="object">Magento\Framework\Filesystem\Driver\File</argument>
            <argument name="fileName" xsi:type="string">/var/log/iwocapay.log</argument>
        </arguments>
    </virtualType>
    <virtualType name="IwocapayLogger" type="Magento\Framework\Logger\Monolog">
        <arguments>
            <argument name="name" xsi:type="string">Iwocapay Logger</argument>
            <argument name="handlers" xsi:type="array">
                <item name="system" xsi:type="object">IwocapayLoggerHandler</item>
            </argument>
        </arguments>
    </virtualType>
    <type name="Iwoca\Iwocapay\Controller\Process\Callback">
        <arguments>
            <argument name="logger" xsi:type="object">IwocapayLogger</argument>
        </arguments>
    </type>
    <type name="Iwoca\Iwocapay\Controller\Process\CreateOrder">
        <arguments>
            <argument name="logger" xsi:type="object">IwocapayLogger</argument>
        </arguments>
    </type>
</config>
